@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    font-family: "Montserrat", sans-serif;

}

body {
    background-color: #F8F5F0;
}

.cabecalho {
    display: flex;
    background-color: #F8F5F0;

}
.b3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 300px 0 200px 0;
}

.imgLogo{
    margin-left: 5%;
}

.menu{
    background-color: #465640;
    height: 50px;
    width: 100%;
    display: flex;

    align-items: center;
}
.menu p{
    color: white;
    font-size: 25px;
    margin-left: 35%;
}
.menu img{
    margin-left: 5%;
}

.climabox{
    height: 100px;
    padding: 20px;
    margin: 60px 0 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.monitoramentoClima{
    width: 40%;
    height: 150px;
    background-color: #E1DFE0;
    display: flex;
    align-items: center;
    border: 1px solid #cecece;
}
.regiaoClima{
    width: 50%;
    height: 90%;
    background-color: #D9D9D9;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}

.infoClima{
    width: 50%;
    height: 90%;
    margin: 0 10px 0 0;
    display: flex;
    justify-content:space-around;
    flex-direction: column;
}

.infoClima p {
    margin: 0 0 0 10px;
    color: #465640;
    font-weight: 500;
}

.infoClima span{
    font-weight: 400;
    font-size: small;
}

.temperatura{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.relogio{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sol{
    display: flex;
    align-items: center;
}

.sol img {
    width: 80px;
}

.relogio img{
    width: 60px;
}

.sol span h1 {
    color: #465640;
    font-weight: 550;
}

.relogio span h1 {
    color: #465640;
    font-weight: 550;
    margin-left: 5px;
}

.regiaoClima h3{
    color: #465640;
    margin-left: 15px;
}
.animacao{
    width: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.animacao hr {
    transform: rotate(90deg);
    border: #cecece 0.5px solid;
    width: 50px;
}

.circulo{
    width: 15px;
    height: 15px;
    background-color: #465640;
    border-radius: 50%;
    margin: 40px 0 40px 0;
}

.b3 img{
    position: absolute;
}

.b3 input {
    position: relative;
    margin-right: 44%;
    margin-top: 10%;
}

.btnImg3_saibaMais{
    width: 8%;
    padding: 0.6%;
    background-color: #5E7153;
    color: #ffffff;
    border-radius: 15px;
    font-size: 100%;
    font-weight: bold;
    border: none;
}
.btnImg3_saibaMais:hover{
    padding: 0.9%;
    width: 10%;
    transition: ease 0.5s ;
}


.menu-lateral {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #465640;
    padding-top: 20px;
    transition: 0.3s;
    z-index: 999;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
}

.menu-lateral ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-lateral ul li {
    padding: 25px 20px;
}

.menu-lateral ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.fechar-menu {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 18px;
    margin-left: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}

.cabecalho-icone {
    cursor: pointer;
}

.menu-lateral {
    position: fixed;
    top: 0;
    left: -250px;
    /* Escondido inicialmente */
    width: 250px;
    height: 100%;
    background-color: #465640;
    /* verde oliva do seu menu */
    padding-top: 60px;
    transition: 0.3s;
    z-index: 999;
}

.menu-lateral ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-lateral ul li {
    padding: 25px 20px;

}

.menu-lateral ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}


.menu-lateral img {
    width: 40px;
    margin-bottom: -16px;

}


.cabecalho-children {
    width: 11%;
    height: 143px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #465640;
}

.cabecalho-div-login {
    width: 100%;
    height: calc(100vh - 85.2vh);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E1DFE0;
    border-bottom: #465640 1px solid;

}
 
.icon-login{
    text-decoration: none; 
    margin-right: 8%;
} 

.pesquisa {
    width: 100%;
    height: 32px;
    border-radius: 8px;
    border: solid 1px #465640;
    font-size: 15px;
    color: #5E7153;
    font-weight: 600;
}

/* .user-solid{
        border: solid 2px #465640;
        border-radius: 3px;
        padding-left: 40%;
        padding-top: 5%;
        padding-bottom: 5%;
        border-top-color: transparent;
        border-bottom-color: transparent;
        border-right-color: transparent; 
    } */
.lupa {
    position: absolute;
    padding: 8px;
    border-radius: 8px;
    background-color: #465640;
}

.pesquisa-dad {
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
}

.dashboard {
    width: 100%;
    background-color: #F8F5F0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-children {
    background-color: #465640;
    display: grid;
    grid-template-columns: 1fr; /* uma coluna só para as fileiras */
    padding: 2%;


}

.icone {
    width: 60px;
}

.cabecalho-div- {
    width: 100%;
}

.registro-rodizio,
.registro-estoque,
.regitro-piquetes,
.registro-sensores,
.registro-metros,
.registro-bebedouros,
.registro-comedouros,
.registro-gado {
    height: 160px;
    width: 200px;
    background-color: #ebddba;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    padding: 8px;
}

.registro-gado {
    background-color: #D2B887;
}


.registro-fileira1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin: 0 0 15px 0;
}

.registro-graficos {
    background-color: #ebddba;
    grid-column: 1 / -1; 
    background-color: #ebddba;
    border-radius: 5px;
    /* Se quiser dividir o conteúdo interno em 4 colunas também */
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 15px;
    padding: 15px;
    min-height: 300px; /* só um exemplo pra dar altura */
}

.colorh1 {
    height: 50%;
    color: white;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 50px;
}

.registro-gado-dado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    width: 100%;
}

.registro-comedouros {
    background-color: #D6BE92;
}

.registro-bebedouros {
    background-color: #E8D8B4;
}

.registro-metros {
    background-color: #D6BE92;
}

.registro-sensores {
    background-color: #E8D8B4;
}

.regitro-piquetes {
    background-color: #E8D8B4;
}

.registro-estoque {
    background-color: #D6BE92;
}

.registro-rodizio {
    background-color: #E8D8B4;
}

.colorh1-sensor {
    height: 50%;
    color: white;
    display: flex;
    align-items: center;
    width: 100%;
    /* font-size: 50px; */
}

.colorh3 {
    color: #465640;
}

.footer-sub {
    display: flex;
    justify-content: space-between;
}

.footer-children {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
}

.img-gado {
    margin-right: 2%;
}

.entre-em-contato {
    padding-top: 5%;
    padding-bottom: 5%;
}

.logo-rede {
    display: flex;
    justify-content: space-between;
    width: 150px;

}

.footer {
    height: 150px;
    width: 100%;
    background-color: #465640;
    margin-top: 80px;
    padding-top: 10px;
}

.divis {
    display: flex;
    justify-content: center;
}

.divisao {
    width: 95%;
}

.facebook {
    background-color: white;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    box-shadow: rgb(82, 82, 82) 2px 4px 6px;
}

.instagram {
    background-color: white;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    box-shadow: rgb(82, 82, 82) 2px 4px 6px;
}

.whatsaap {
    background-color: white;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    box-shadow: rgb(82, 82, 82) 2px 4px 6px;
}

.linkedin {
    background-color: white;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    box-shadow: rgb(82, 82, 82) 2px 4px 6px;
}

@media (max-width:1617px) and (min-width:1100px) {
    .cabecalho-children {
        width: 3%;
        height: 130px;
        display: flex;
        align-items: center;
        flex-direction: column;
        
    }

    .monitoramentoClima{
        width: 60%;
    }

    .registro-comedouros,
    .registro-gado,
    .registro-bebedouros,
    .registro-metros,
    .registro-sensores,
    .regitro-piquetes,
    .registro-estoque,
    .registro-rodizio {
        width: 160px;
    }

    .colorh1 {
        font-size: 30px;
    }
}

@media (max-width:1100px) and (min-width:900px) {
    /* .dashboard-children {
        width: 80%;
    } */

    .registro-comedouros,
    .registro-gado,
    .registro-bebedouros,
    .registro-metros,
    .registro-sensores,
    .regitro-piquetes,
    .registro-estoque,
    .registro-rodizio {
        width: 120px;
        height: 120px;
    }

    .monitoramentoClima{
        width: 70%;
    }

    .colorh1 {
        font-size: 30px;
    }

}

@media (max-width:895px) and (min-width:500px) {
    /* .dashboard-children {
        width: 85%;
    } */

    .registro-graficos {
        background-color: #ebddba;
        border-radius: 5px;
        grid-column: 1 / -1; 
        background-color: #ebddba;
        border-radius: 5px;
        /* Se quiser dividir o conteúdo interno em 4 colunas também */
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: 30px;
        padding: 15px;
        min-height: 200px; /* só um exemplo pra dar altura */
    }

    .monitoramentoClima{
        width: 80%;
    }

    .registro-comedouros,
    .registro-gado,
    .registro-bebedouros,
    .registro-metros,
    .registro-sensores,
    .regitro-piquetes,
    .registro-estoque,
    .registro-rodizio {
        width: 80px;
        height: 80px;
    }

    .register-number h1 {
        font-size: 20px;
    }

    .registro-gado-dado img {
        display: none;
    }

    .colorh3{
        font-size: small;
    }

    .sol img {
        width: 60px;
    }
    
    .sol span h1{
        font-size: 18px;
    }

    .regiaoClima h3{
        font-size: 15px;
        margin-left: 5px;
    }

    .relogio span h1{
        font-size: 18px;
    }

    .relogio img{
        width: 40px;
    }

    .infoClima p {
        font-size: 14px;
        margin-left: 5px;
    }
}

@media (max-width:500px) and (min-width:0) {
    .registro-graficos {
        background-color: #ebddba;
        border-radius: 5px;
        grid-column: 1 / -1; 
        background-color: #ebddba;
        border-radius: 5px;
        /* Se quiser dividir o conteúdo interno em 4 colunas também */
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: 30px;
        padding: 15px;
        min-height: 200px; /* só um exemplo pra dar altura */
    }

    .registro-comedouros,
    .registro-gado,
    .registro-bebedouros,
    .registro-metros,
    .registro-sensores,
    .regitro-piquetes,
    .registro-estoque,
    .registro-rodizio {
        width: 80px;
        height: 80px;
    }

    .monitoramentoClima{
        width: 90%;
    }

    .sol img {
        width: 40px;
    }
    
    .sol span h1{
        font-size: 18px;
    }

    .regiaoClima h3{
        font-size: 15px;
        margin-left: 5px;
    }

    .relogio span h1{
        font-size: 18px;
    }

    .relogio img{
        width: 30px;
    }

    .registro-gado-dado img {
        display: none;
    }

    .register-number h1{
        font-size: 20px;
    }

    .colorh3{
        font-size: small;
    }

    .infoClima p {
        font-size: small;
        margin-left: 5px;
    }
    
}